@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
*{
  box-sizing: border-box;
}

.countdown-box {
  @apply bg-white/20 text-white border-2 border-white/30 rounded-lg p-4 w-24 flex flex-col items-center shadow-lg transition-transform transform hover:scale-105;
}

.fade {
  opacity: 0; /* เริ่มต้นแบบโปร่งใส */
  transition: opacity 1s ease-in-out; /* กำหนดระยะเวลาแอนิเมชัน */
}

.fade.show {
  opacity: 1; /* แสดงรูปภาพ */
}


.hidden {
  display: none;
}


canvas#fireworksCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}